
*{
  box-sizing: border-box;
}
.huddle-span{
    color: #EF4137;
}
.header button{
    background: #C6371A;
}
.nav{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.nav-width{
  width: 80%;
}
.active{
  border-bottom:  3px solid #C6371A;
}








.footer{
  background-color: #111111;
  cursor: pointer;
}
.footer{
  color: #eee;
}
.footer p{
  color: #ADADAC;
  font-size: 14px;
}
 .footer ul li{
  font-size: 14px;
  color: #8F8E8D;
  cursor: pointer;
}
.footer form input{
  background-color: #4c4a4a;
  width: 400px;
  color: #ADADAC;
}
.footer form input::placeholder{
  color:  #ADADAC;
  padding-left: 10px;
}
.brand p{
  width: 260px;
}
.social-media i{
  font-size: 24px;
  color: #8F8E8D;
  margin-right: 20px;   
}
/* .hd-nav{
    margin-left: 30px;
    margin-right: 30px;
} */







@media (max-width: 767px) {
  
}
@media (max-width: 575px) {

}
@media (max-width: 425px) {

}
@media (max-width: 375px) {

}
@media (max-width: 320px) {
  h2{
    font-size: 12px;
  }
}